{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clorofila</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  


    
</head>
<body>
   

    
    <header id="header">
        <img class="menu" src="{% static 'core/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="{% static 'core/img/logo.png' %}" alt="logo">
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'index' %}"> Inicio </a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li>
                        <a href="{% url 'galeria' %}">Galería</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    <li>
                        <a href="{% url 'registro' %}">Registro</a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>
       
    <div id="contenido">  
        {% if messages %}
        {% for m in message%}
        {{ m }}
        {% endfor%}


        {% endif%}

        {% block contenido %}

        {% endblock %}
    </div>  
<footer>
    <div class="marcas">
       
        <a href="http://www.instagram.com"><img src="{% static 'core/img/ig-logo.png'%}" width="100px" alt=""> </a>
        <a href="http://www.facebook.com"><img src="{% static 'core/img/facebook.png'%}" width="100px" alt=""> </a>
        <a href="http://www.instagram.com"><img src="{% static 'core/img/ubicacion.jpg'%}" width="50px" alt=""> </a>
        <a href="http://www.whatsapp.com"><img src="{% static 'core/img/wsp.png'%}" width="50px" alt=""> </a>
        <a href="/contacto.html"><img src="{% static 'core/img/correo.png'%}" width="50px" alt=""> </a>
    </div>
    <div class="logo_footer">
        <img src="{% static 'core/img/logo.png'%}" alt="logo">
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="js/menu.js"></script>

<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% block js %}

{% endblock %}
 
</body>
</html>