{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}


{% block css %}
{% endblock %}
 </header>

    <div id="contenido">

            <div class="slider">
                <div>
                    <h1>Suculentas</h1>
                    <img src="{% static 'core/img/galeria suculentas.jpg' %}" alt="">
                    <h1>Suculentas</h1>
                </div>
                <div>
                    <h1>Plantas de Interior</h1>
                    <img src="{% static 'core/img/GaleriaPlantas Interior.jpg' %}" alt="">
                    <h1>Plantas de Interior</h1>
                </div>
                <div>
                    <h1>Artículos de Jardinería</h1>
                    <img src="{% static 'core/img/60624748-jardinería-herramientas-y-utensilios-en-un-prado-verde-y-exuberante-vista-desde-arriba.webp' %}" alt="">
                    <h1>Artículos de Jardinería</h1>
                </div>
            </div>

        <h2>Novedades</h2>
        <div class="productos">

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'core/img/LPC_FicusTree.jpg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>Planta de Interior y Exterior</h5>
                        <h2>Ficus</h2>
                        <h3>$7.000.-</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'core/img/Zebra-Haworthia-Feature-image.jpg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>Suculentas</h5>
                        <h2>Planta Cebra</h2>
                        <h3>$10.000.-</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'core/img/images.jpg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>Articulos de Jardindería</h5>
                        <h2>Sustrato 1kg</h2>
                        <h3>$5.000.-</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="{% static 'core/img/packMacet.jpg' %}" alt="imagen producto">
                    <div class="detalle">
                        <h5>Artículos de Jardinería</h5>
                        <h2>Pack 3 Macetas</h2>
                        <h3>$7.000.-</h3>
                    </div>

                </div>

            </div>

            

            </div>


        </div>


    </div>
    {% endblock %}

    {% block js %}

    {% endblock %}

 

    