{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
{% block css %}
{% endblock %}
<br>

<div class="car">
  <dic class="car-body">
    <h3>Modoficar Producto</h3>
    <table class="table table-striped table=hover table=responsive-sm "></table>
    <form action="" method = "POST" enctype="multipart/form-data">
      {% csrf_token %} 
      <table>
      {{ form }}
      </table>
      <input type="submit" class="bttn btn=success" value="Modificar">
    </form>
    <br><br><br>
    <h3>{{ msj }}</h3>
  </table>
    


  </dic>
  
</div>




{% endblock %}

{% block js %}

{% endblock %}
    
